{% extends 'public/template.html' %}
{#================================================================================
	Item Name: alteracao_saldo_devedor_sucesso.html
	Version: 0.1
	Author: benhur
	benhur.azevedo@caixa.gov.br
  ================================================================================#}

  {% block title %}Incluir Post{% endblock %}

  {% block head %}{% endblock %}

  {% block content %}
  <div style="width: 1024px; padding: 4px;">
    <head>
        <h1>Incluir Post</h1>
    </head>
    {{ include ('public/formBlog.html') }}
  </div>
  {% endblock %}

  {% block tail %} {% endblock %}