{% extends 'public/template.html' %}
{#================================================================================
	Item Name: alteracao_saldo_devedor_sucesso.html
	Version: 0.1
	Author: benhur
	benhur.azevedo@caixa.gov.br
  ================================================================================#}

  {% block title %}mensagem{% endblock %}

  {% block head %}{% endblock %}

  {% block content %}
  <h1>Post incluído com sucesso!</h1>
  <p><a href="/listarblog">Voltar</a></p>
  {% endblock %}

  {% block tail %} {% endblock %}

